{% extends "layout.html" %}

{% block title %}
    1500m
{% endblock %}

{% block main %}
    <h2 style="margin-top: 1cm; margin-bottom: 0.8cm;">
        1500m Run
    </h2>
    <hr style="width: 50%;">
    <div style="text-align: center; width: 50%; margin: auto; margin-top: 1cm;">
        <h3>
            The 1500 meter run is the most notorious event in the decathlon - after two full days of competition, the
            athlete has to go full effort on a run just under a mile long. After this event, the athlete is more tired than
            ever, but the amazing feeling of completing a decathlon makes it all worth it. Below, store some cues to help
            you run a well paced race and finish the decathlon strong.
        </h3>
        <hr style="width: 50%; margin-top: 1cm;">
    </div>
    <div style="text-align: center;">
        <form id="1500mform" style="padding: 0.5cm;" action="/1500m" method="post">
            <h3>
                {{ header }}
            </h3>
            <textarea style="margin: auto; margin-top: 1cm;" autocomplete="off" class="form-control" name="1500mcues" id="1500mcues" rows="5" cols="80">{{ text }}</textarea>
            <button style="margin-top: 1cm;" class="btn btn-primary" id="submitlog" type="submit">{{ button }}</button>
        </form>
    </div>
    <hr style="width: 50%; padding-bottom: 0.5cm;">
    <div style="text-align: center;">
        <h2 style="padding-bottom: 1cm;">
            Distance News
        </h2>
        <a data-width="700" data-height="650" class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/DistanceRunning?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <script>
        document.getElementById('1500mform').onsubmit = function () {
            if (document.getElementById("1500mcues").value == "") {
                alert("Your cues have been reset!");
            }
            else {
                alert("Your cues have been saved!");
            }
        };
    </script>
{% endblock %}