{% extends "layout.html" %}

{% block title %}
    400m
{% endblock %}

{% block main %}
    <h2 style="margin-top: 1cm; margin-bottom: 0.8cm;">
        400m Dash
    </h2>
    <hr style="width: 50%;">
    <div style="text-align: center; width: 50%; margin: auto; margin-top: 1cm;">
        <h3>
            The 400 meter dash is one of the most grueling events in the decathlon - after a full day of competition,
            the athlete has to lay it all out on the track and full out sprint for a quarter of a mile. However, if you
            do not have a solid race plan, you can hit a wall early. Below, store some cues to help you finish day one strong.
        </h3>
        <hr style="width: 50%; margin-top: 1cm;">
    </div>
    <div style="text-align: center;">
        <form id="400mform" style="padding: 0.5cm;" action="/400m" method="post">
            <h3>
                {{ header }}
            </h3>
            <textarea style="margin: auto; margin-top: 1cm;" autocomplete="off" class="form-control" name="400mcues" id="400mcues" rows="5" cols="80">{{ text }}</textarea>
            <button style="margin-top: 1cm;" class="btn btn-primary" id="submitlog" type="submit">{{ button }}</button>
        </form>
    </div>
    <hr style="width: 50%; padding-bottom: 0.5cm;">
    <div style="text-align: center;">
        <h2 style="padding-bottom: 1cm;">
            Sprinting News
        </h2>
        <a data-width="700" data-height="650" class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/SprintingFast?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <script>
        document.getElementById('400mform').onsubmit = function () {
            if (document.getElementById("400mcues").value == "") {
                alert("Your cues have been reset!");
            }
            else {
                alert("Your cues have been saved!");
            }
        };
    </script>
{% endblock %}