{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h2 style="margin-top: 1cm; margin-bottom: 0.8cm;">
        About DecDex
    </h2>
    <hr style="width: 50%;">
    <div style="text-align: center; width: 40%; margin: auto; margin-top: 1cm;">
        <h3>
            DecDex was created by me, John Minicus, for Harvard's CS50 final project. I am a sophomore here at Harvard,
            and I am also a decathlete on the track team here which would explain my desire to create this site. This is my
            first semester with programming, and this is my first website and definitely not my last - I have really
            enjoyed web development and computer science in general so far. In the future, I hope to find more ways to intertwine
            computer science with some of my extracurricular passions because track and field is just one of many.
        </h3>
        <hr style="width: 50%;">
        <h3>
            If you have any questions, comments, or suggestions relating to DecDex, please feel free to
            <a href="mailto: johnminicus@gmail.com" target="_blank">email me</a>. News feeds on this website are provided
            by <a href="https://twitter.com" target="_blank">Twitter</a>.
        </h3>
    </div>
{% endblock %}