{% extends "layout.html" %}

{% block title %}
    Pole Vault
{% endblock %}

{% block main %}
    <h2 style="margin-top: 1cm; margin-bottom: 0.8cm;">
        Pole Vault
    </h2>
    <hr style="width: 50%;">
    <div style="text-align: center; width: 50%; margin: auto; margin-top: 1cm;">
        <h3>
            The pole vault is the most intricate event in the decathlon - not to mention, it is one of the most exciting
            to watch. An athlete has to combine speed with perfect technqiue to plant the pole and propel over the bar, and
            an athlete can score a lot of points in this event with lots of practice. Below, store some cues that will help
            you plant hard and jump high.
        </h3>
        <hr style="width: 50%; margin-top: 1cm;">
    </div>
    <div style="text-align: center;">
        <form id="polevaultform" style="padding: 0.5cm;" action="/polevault" method="post">
            <h3>
                {{ header }}
            </h3>
            <textarea style="margin: auto; margin-top: 1cm;" autocomplete="off" class="form-control" name="polevaultcues" id="polevaultcues" rows="5" cols="80">{{ text }}</textarea>
            <button style="margin-top: 1cm;" class="btn btn-primary" id="submitlog" type="submit">{{ button }}</button>
        </form>
    </div>
    <hr style="width: 50%; padding-bottom: 0.5cm;">
    <div style="text-align: center;">
        <h2 style="padding-bottom: 1cm;">
            Vaulting News
        </h2>
        <a data-width="700" data-height="650" class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/McCarthysan?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <script>
        document.getElementById('polevaultform').onsubmit = function () {
            if (document.getElementById("polevaultcues").value == "") {
                alert("Your cues have been reset!");
            }
            else {
                alert("Your cues have been saved!");
            }
        };
    </script>
{% endblock %}