{% extends "layout.html" %}

{% block title %}
    Shotput
{% endblock %}

{% block main %}
    <h2 style="margin-top: 1cm; margin-bottom: 0.8cm;">
        Shotput
    </h2>
    <hr style="width: 50%;">
    <div style="text-align: center; width: 50%; margin: auto; margin-top: 1cm;">
        <h3>
            The shotput is a measure of pure power and strength - a decathlete has to launch a solid 16 pound shot as far
            as possible. Even though there is a lot of power involved, perfecting the shotput has a lot to do with grace,
            balance, and form. Below, store some cues to help you get in the proper positions to propel the shot far.
        </h3>
        <hr style="width: 50%; margin-top: 1cm;">
    </div>
    <div style="text-align: center;">
        <form id="shotputform" style="padding: 0.5cm;" action="/shotput" method="post">
            <h3>
                {{ header }}
            </h3>
            <textarea style="margin: auto; margin-top: 1cm;" autocomplete="off" class="form-control" name="shotputcues" id="shotputcues" rows="5" cols="80">{{ text }}</textarea>
            <button style="margin-top: 1cm;" class="btn btn-primary" id="submitlog" type="submit">{{ button }}</button>
        </form>
    </div>
    <hr style="width: 50%; padding-bottom: 0.5cm;">
    <div style="text-align: center;">
        <h2 style="padding-bottom: 1cm;">
            Throwing News
        </h2>
        <a data-width="700" data-height="650" class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/nationalthrows?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <script>
        document.getElementById('shotputform').onsubmit = function () {
            if (document.getElementById("shotputcues").value == "") {
                alert("Your cues have been reset!");
            }
            else {
                alert("Your cues have been saved!");
            }
        };
    </script>
{% endblock %}